/* 
title: form.html Styles
by Laura McCool
for: CSS Selectors
*/

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px dashed #e22828;
	font-family: "century gothic";
	color: #e22828;
	text-align: center;
	background-color: #edece8;
}

h2 {
	font-family: "century gothic", Arial, Times;
	text-align: center;
	color: #edece8;
}

h3 {
	font-family: "century gothic", Arial, Times;
	text-align: center;
	color: #edece8;
}

body {
	font-family: "century gothic", Arial, Times;
	background-color: #72b035;
}

label { 
	font-family: "century gothic", Arial, Times;
	color: #edece8;
}

li {
	display: block;
	font-family: "century gothic", Arial, Times;
	color: #edece8;
}

p {
	font-family: "century gothic", Arial, Times;
	color: #edece8;
	text-align: center;
	letter-spacing: ;
}

legend {
	font-family: "century gothic", Arial, Times;
	color: #edece8;
	font-weight: bold
}

a:hover {color: #edece8; outline: none;}
a:link {color: #edece8; outline: none;}
a:visited {color: #edece8; outline: none;}

nav{ 
	padding: 5px;
	outline: 1px dashed #edece8;
	background-color: #e22828;
	font-family: "century gothic", Arial, Times;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	
}

